<!DOCTYPE html> 
<html>
    <head>
        <title>Foster Parents</title>
    </head>
    <body>
        <div class="homepage-link">
            <A HREF="homepage.html">Homepage</A>
            <br>
        </div>

        <h1>Foster Parents</h1>

        <div class="foster-parent-table">
            <table>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Location_ID</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Zip_Code</th>
                    <th>State</th>
                </tr>
                <tbody>
                    {{#each foster_parent}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{first_name}}</td>
                        <td>{{last_name}}</td>
                        <td>{{location_id}}</td>
                        <td>{{address}}</td>
                        <td>{{city}}</td>
                        <td>{{zip_code}}</td>
                        <td>{{State}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <div class="insert">
            <h3>Add a Foster Parent</h3>
            <!-- https://www.w3schools.com/tags/tag_input.asp -->
            <form id="addfoster_parent" action="/foster_parent" method="post">
                First Name: <input type="text" name="first_name">
                <br>
                Last Name: <input type="text" id="last_name" name="last_name">
                <br>
                Location: <select name="location">
                    {{#each location}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
                <br>
                Address: <input type="text" name="address">
                <br>
                City: <input type="text" name="city">
                <br>
                Zip Code: <input type="number" name="zip_code">
                <br>
                State: <input type="text" name="state">
                <br>
                <input type="submit" id="submit" name="submit">
            </form>
        </div>
    </body>
</html>