<!DOCTYPE html>
<html>
    <head>
        <title>Location</title>
    </head>
    <body>
        <div class="homepage-link">
            <A HREF="homepage.html">Homepage</A>
            <br>
        </div>

        <h1>Location</h1>

        <div class="location-table">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Zip Code</th>
                    <th>State</th>
                    <th>Sq. Ft.</th>
                    <th>Animal In Rate</th>
                </tr>
                {{#each location}}
                <tr>
                    <td>{{location_id}}</td>
                    <td>{{address}}</td>
                    <td>{{city}}</td>
                    <td>{{zipcode}}</td>
                    <td>{{state}}</td>
                    <td>{{sq_ft}}</td>
                    <td>{{animal_in_rate}}</td>
                </tr>
                {{/each}}
            </table>
        </div>

        <h1>Employee Location</h1>
        <div class="employee-location-table">
            <table>
                <tr>
                    <th>Employee ID</th>
                    <th>Location ID</th>
                </tr>
                {{#each employee-location}}
                <tr>
                    <td>{{location_id}}</td>
                    <td>{{employee_id}}</td>
                </tr>
                {{/each}}
            </table>
        </div>

        <div class="insert">
            <h3>Add Location</h3>
            <form action ="/action_page.php">
                <label for="Address">Address:</label>
                <input type="text" id="Address" name="Address">
                <br>
                <label for="City">City:</label>
                <input type="text" id="City" name="City">
                <br>
                <label for="Zipcode">Zipcode:</label>
                <input type="number" id="Zipcode" name="Zipcode">
                <br>
                <label for="State">State:</label>
                <input type="text" id="State" name="State">
                <br>
                <label for="Sq_Ft">Sq. Ft:</label>
                <input type="number" id="Sq_Ft" name="Sq_Ft">
                <br>
                <label for="Animal_in_Rate">Animal_in_Rate:</label>
                <input type="number" id="Animal_in_Rate" name="Animal_in_Rate">
                <br>
                <input type="submit" id="submit" name="submit">
    </body>

</html>